body {
  background-color: #fff;
  color: #fff;
}

button {
    background-color: #f4c542;
    border: none;
    color: #fff;
    padding: 3px 6px;
    margin: 5px 5px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

button:hover {
  background-color: #f4a742;
}

.welcome-box {
  min-height: 275px;
  margin: 250px auto 0px auto;
  width: 100%;
  background-color: #496d91;
  text-align: center;
}

legend {
  color: #fff;
}
input, textarea {
  color: #000;
}

.auth-forms {
  max-width: 900px;
  min-height: 200px;
  margin: auto;
}

// div {
//   border-width: 1px;
//   border-color: red;
//   border-style: solid;
// }

#login {
  float: left;
  width: 350px;
  margin: 20px 120px 20px 25px ;
}

#register {
  float: left;
  width: 350px;
  margin: 20px 25px 20px 25px
}

.navigation-bar, .enter-data, .view-data, #change-password, #modify-a-player {
  display: none;
}

.navigation-bar, .enter-data, .view-data, #change-password {
  background-color: #496d91;
  color: #fff
}

#change-password {
  width: 100%;
  height: 170px;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

.enter-data, .view-data {
  margin: 65px auto;
  width: 900px;
  min-height: 450px;
}

#view-allPlayers {
  margin: 10px 5px;
}

form {
  margin: 10px 20px;
}

.program-radio {
  margin: 5px, 5px;
}

.navigation-bar {
  height: 120px;
  width: 100%;
}

#change-PW {
  width: 40%;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}

#navbar-center {
  width: 40%;
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}
#mode-switch {
  float: right;
  margin-right: 20px;
}

#nav-message {
  clear: both;
  margin: 10px auto;
  text-align: center;
}

#nav-message, #mode-switch {
  margin: auto auto auto 50px;
}
